@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 18px;
  color: #111111;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  overflow-x: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
  width: 100%;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 600px) {
  [class*=__container] {
    padding: 0 10px 0 10px;
  }
}

[class*=page] {
  min-height: 100vh;
}
@media (max-width: 768px) {
  [class*=page] {
    min-height: 100vh;
  }
}
@media (max-height: 600px) {
  [class*=page] {
    min-height: 100vh;
  }
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

h2, h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  line-height: 1.375;
}

a {
  font-size: 18;
  font-weight: 700;
  color: #111111;
  transition: color 0.3s ease-out 0s;
}
a:hover {
  color: #4A4FF2;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.625;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
.header {
  width: 100%;
}
.header__container {
  font-size: 18px;
  padding: 60px 20px 90px 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 0.05fr 0.05fr;
  gap: 2%;
}

.logo {
  font-size: 22px;
}

.footer {
  width: 100%;
  padding: 50px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  display: flex;
  gap: 95px;
}
.footer__link {
  font-size: 18px;
  font-weight: 700;
}
.footer__list {
  display: flex;
  gap: 30px;
}
.footer__list-icons {
  gap: 24px;
}

.logo {
  font-size: 22px;
}

.icon-planet, .icon-instagram, .icon-twitter {
  font-size: 14px;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?ocab8u");
  src: url("../fonts/icons.eot?ocab8u#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?ocab8u") format("truetype"), url("../fonts/icons.woff?ocab8u") format("woff"), url("../fonts/icons.svg?ocab8u#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}

.icon-planet:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\e902";
}

.about {
  padding: 0px 0 60px 0;
}
.about__row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.column-about__label {
  max-width: 495px;
  width: 100%;
  margin-bottom: 33px;
  line-height: 1.3;
}
.column-about__text {
  max-width: 635px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
}
.column-about__text p:first-of-type {
  margin-bottom: 20px;
  display: inline-block;
}
.column-about__row {
  display: flex;
  width: 335px;
  padding: 20px 0;
  border-bottom: 1px solid #D8D8D8;
}
.column-about__title, .column-about__name {
  flex: 0 1 137px;
  font-size: 18px;
  font-weight: bold;
  color: #979797;
}
.column-about__name {
  flex: 1 1 auto;
  justify-content: start;
  color: #111111;
}

.media {
  padding-bottom: 80px;
}
.media__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 45px;
}
.media__img {
  position: relative;
  padding-bottom: 115%;
}
.media__img img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.media__img-big {
  grid-row: 1/2;
  grid-column: 1/4;
  padding-bottom: 59.5%;
}
.media__text {
  grid-row: 2/3;
  grid-column: 1/4;
  font-size: 16px;
}

.contact {
  padding: 20px 0 60px 0;
}
.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 120px;
}
.contact__content-text {
  max-width: 445px;
  width: 100%;
}
.contact__title {
  line-height: 1.375;
  margin-bottom: 22px;
}

.contact-form {
  justify-self: end;
  max-width: 475px;
  width: 100%;
}

.form__inputs {
  width: 100%;
  margin-bottom: 38px;
}
.form__button {
  padding: 15px 35px;
  background-color: #4A4FF2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease-out;
}
.form__button:hover {
  background-color: #272ef6;
}

.input {
  width: 100%;
  display: block;
  padding: 16px 0;
  font-style: 16px;
  font-weight: 700;
  color: #111111;
  border-bottom: 1px solid #D8D8D8;
  transition: all 0.3s ease-out;
}
.input:not(:last-child) {
  margin-bottom: 30px;
}
.input:hover {
  background-color: rgba(216, 216, 216, 0.1568627451);
}
.input::-moz-placeholder {
  color: #979797;
}
.input::placeholder {
  color: #979797;
}
.input:focus {
  background-color: rgba(216, 216, 216, 0.4980392157);
}

.contact-map {
  grid-column: 1/3;
}
.contact-map__img {
  position: relative;
  padding-bottom: 51.4%;
}
.contact-map__img img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.purple {
  color: #4A4FF2;
}

.introducing {
  margin-bottom: 50px;
}
.introducing__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.introducing__item {
  flex: 1 1 auto;
  display: flex;
}
.introducing__item-big {
  flex: 0 1 75%;
  display: block;
}
.introducing__text {
  max-width: 635px;
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 32px;
  color: #4A4FF2;
}
.introducing__note {
  font-style: italic;
  font-size: 18px;
  color: #979797;
  align-self: flex-end;
  display: block;
  position: relative;
}
.introducing__note::before {
  content: "";
  background-color: #979797;
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 15%;
  transition: width 0.3s ease-out;
}
.introducing__note:hover::before {
  width: 100%;
}

.text-introducing__main {
  max-width: 635px;
  width: 100%;
}

.main-gallery {
  padding-top: 90px;
  padding-bottom: 90px;
}
.main-gallery__container {
  display: flex;
  gap: 20px;
}
.main-gallery__item {
  align-self: start;
  height: auto;
  margin-bottom: 20px;
}
.main-gallery__img {
  height: auto;
}

.img-scale {
  overflow: hidden;
}
.img-scale img {
  transition: transform 0.3s ease-out;
}
.img-scale img:hover {
  transform: scale(1.1);
}

.main-content {
  margin-bottom: 100px;
}
.main-content__row {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.main-content__item-big {
  margin-right: 70px;
  max-width: 635px;
  width: 100%;
}
.main-content__label {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.35;
}

.item-content__item {
  margin-bottom: 10px;
  width: 150px;
}
.item-content__link {
  color: #979797;
  font-weight: 400;
  font-size: 18px;
}
.item-content__link:hover {
  color: #111111;
}

.awards {
  margin-bottom: 50px;
}
.awards__row {
  padding: 48px 0 58px 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1.7fr 1.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  border-top: 2px solid #D8D8D8;
}
.awards__row:last-child {
  border-bottom: 2px solid #D8D8D8;
}
.awards__label {
  font-size: 22px;
  font-weight: 700;
}
.awards__name {
  grid-column: 3/4;
  font-size: 18px;
  font-weight: 700;
}
.awards__subname, .awards__text {
  grid-column: 4/5;
  font-size: 16px;
  font-weight: 400;
}
.awards__text {
  margin-top: 12px;
  line-height: 1.625;
  color: #151515;
}
.awards__year {
  font-size: 16px;
  text-align: right;
  grid-column: 5/6;
}