.header {
	width: 100%;
  &__container {
	font-size: 18px;
	padding: 60px 20px 90px 20px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto 0.05fr 0.05fr;
	gap: 2%;
  }
}
.logo {
	font-size: 22px;
}
